
@{
    ViewBag.Title = "Index";
}
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Content/Pages/JavaScript.js"></script>
<h2>Index</h2>

<input type="text" id="txbusiness_name" placeholder="enter your business_name" />
<input type="text" id="txtbusiness_link" placeholder="enter your business_link" />
<input type="text" id="txtcontact_no" placeholder="enter contact_no" />
<input type="text" id="txtgst_no" placeholder="enter your gst_no" />
<input type="text" id="txtupload_gst_certificate" placeholder="upload your upload_gst_certificate" />
<input type="text" id="txtida_registration" placeholder="enter your ida_registration" />
<input type="text" id="txtaddress_line_1" placeholder="enter address_line_1" />
<input type="text" id="txtaddress_line_2" placeholder="enter your address_line_2" />
<input type="text" id="txtstreet" placeholder="enter your street name" />
<input type="text" id="txtlandmark" placeholder="enter your landmark" />
<input type="text" id="txtcountry" placeholder="enter your country" />
<input type="text" id="txtstate" placeholder="enter your state" />
<input type="text" id="txtcity" placeholder="enter your city" />
<input type="text" id="txtarea" placeholder="enter your txtarea" />
<input type="text" id="txtpincode" placeholder="enter your pincode" />
<input type="button" value="Submit" onclick="savebuisness()" />

<table id="tblReg" border="1">
    <thead>
        
            <th>ID</th>
            <th>Business_Name</th>
            <th>Business_Link</th>
            <th>Contact_No</th>
            <th>GST_No</th>
            <th>Upload_GST_Certificate</th>
            <th>IDA_Registration</th>
            <th>Address_Line_1</th>
            <th>Address_Line_2</th>
            <th>Street</th>
            <th>Landmark</th>
            <th>Country</th>
            <th>State</th>
            <th>City</th>
            <th>Area</th>
            <th>Pincode</th>
            <th></th>
    </thead>
    
    <tbody></tbody>
</table>

